{% extends 'base.html' %}

{% block title %} AsliddinWeb | Bog'lanish {% endblock %}

{% block content %}
  <div class="all-blog-posts">
      <div class="row">
        <div class="col-lg-12">
          <div class="blog-post">
            <div class="blog-thumb">
              <img src="/media/image/asliddin.jpg" alt="image">
            </div>
            <div class="down-content">
              <span>Asliddin Abdujabborov</span>
              <p>
                <i class="fa fa-phone" aria-hidden="true"></i> <b>Telefon:</b> <a href="tel:+998942025511">+998 94 202 55 11</a><br>
                <i class="fab fa-telegram"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-tiktok"></i> <a href="https://t.me/asliddin_abdujabborov">@Asliddin_Abdujabborov</a>
              </p>
            </div>
          </div>
        </div>
      </div>
  </div>
{% endblock %}