<div class="col-lg-12">
  <ul class="page-numbers">
    {% if page_obj.has_previous %}
     <li><a style="border-color: #dc3545;" href="?page={{ page_obj.previous_page_number }}"><i class="fa fa-angle-double-left"></i></a></li>
    {% else %}
      <li><a><i class="fa fa-angle-double-left"></i></a></li>
    {% endif %}

{% for i in page_obj.paginator.page_range %}
  {% if page_obj.number == i %}
    <li class="active"><a href="#">{{ i }} </a></li>
  {% else %}
    <li><a href="?page={{ i }}">{{ i }}</a></li>
  {% endif %}
{% endfor %}

{% if page_obj.has_next %}
  <li><a style="border-color: #dc3545;" href="?page={{ page_obj.next_page_number }}"><i class="fa fa-angle-double-right"></i></a></li>
{% else %}
  <li><a><i class="fa fa-angle-double-right"></i></a></li>
{% endif %}
  </ul>
</div>